	@-ms-viewport
{
	width:device-width
}
.hidden
{
	display:none;
	visibility:hidden
}
.visible-phone
{
	display:none !important
}
.visible-tablet
{
	display:none !important
}
.hidden-desktop
{
	display:none !important
}
.visible-desktop
{
	display:inherit !important
}
	@media (min-width:768px) and (max-width:979px)
{
.hidden-desktop
{
	display:inherit !important
}
.visible-desktop
{
	display:none !important
}
.visible-tablet
{
	display:inherit !important
}
.hidden-tablet
{
	display:none !important
}

}
	@media (max-width:767px)
{
.hidden-desktop
{
	display:inherit !important
}
.visible-desktop
{
	display:none !important
}
.visible-phone
{
	display:inherit !important
}
.hidden-phone
{
	display:none !important
}

}
.visible-print
{
	display:none !important
}
	@media print
{
.visible-print
{
	display:inherit !important
}
.hidden-print
{
	display:none !important
}

}
.clearfix
{
	*zoom:1
}
.clearfix:before,.clearfix:after
{
	display:table;
	content:"";
	line-height:0
}
.clearfix:after
{
	clear:both
}
.hide-text
{
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0
}
.input-block-level
{
	display:block;
	width:100%;
	min-height:30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

	@-ms-viewport
{
	width:device-width
}
.hidden
{
	display:none;
	visibility:hidden
}
.visible-phone
{
	display:none !important
}
.visible-tablet
{
	display:none !important
}
.hidden-desktop
{
	display:none !important
}
.visible-desktop
{
	display:inherit !important
}
	@media (min-width:768px) and (max-width:979px)
{
.hidden-desktop
{
	display:inherit !important
}
.visible-desktop
{
	display:none !important
}
.visible-tablet
{
	display:inherit !important
}
.hidden-tablet
{
	display:none !important
}

}
	@media (max-width:767px)
{
.hidden-desktop
{
	display:inherit !important
}
.visible-desktop
{
	display:none !important
}
.visible-phone
{
	display:inherit !important
}
.hidden-phone
{
	display:none !important
}

}
.visible-print
{
	display:none !important
}
	@media print
{
.visible-print
{
	display:inherit !important
}
.hidden-print
{
	display:none !important
}

}
.clearfix
{
	*zoom:1
}
.clearfix:before,.clearfix:after
{
	display:table;
	content:"";
	line-height:0
}
.clearfix:after
{
	clear:both
}
.hide-text
{
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0
}
.input-block-level
{
	display:block;
	width:100%;
	min-height:30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}





