	.only-for-index{
	position: absolute;
	text-align: center;
	z-index: 2222;
	margin-top: -70px;
	background: white;
	display: inline-block;
	width: 100%;
	}
 
.island
{
	margin-top:1em;
	margin-bottom:1em;
	padding:.5em;
	border-radius:.3em;
	background-color:#dee2e6
}
	@media screen and (min-width:40em)
{
.island
{
	padding:1em
}

}
.island--large
{
	margin-top:2em;
	margin-bottom:2em;
	padding:1em
}
.feature
{
	background-color:#4ecdc4;
	padding:5em 0 2em 0;
	text-align:center
}
	@media screen and (min-width:50em)
{
.feature
{
	padding-top:5.5em;
	padding-bottom:2.5em
}

}








.brand
{
	display:inline-block;
	text-decoration:none;
	padding:1em 0;
	color:#fff;
	-webkit-font-smoothing:antialiased
}
.brand__forename
{
	font-weight:bold;
	color:#4ecdc4
}
.brand__surname
{
	font-weight:normal;
	color:#fff
}
.header{
	background:white;
	border-bottom:1px solid #a3bed1;
}
.header__link
{
	color:#fff;
	text-decoration:none;
	border:0
}
.header__link:focus
{
	outline:0;
	background-color:rgba(78,205,196,0.1)
}
.header__link:hover .icon
{
	color:#4ecdc4
}
.header--fixed
{
	position:fixed;
	z-index:10;
	right:0;
	left:0;
	top:0
}

.slide
{
	-webkit-transition:all .25s ease-in-out;
	-moz-transition:all .25s ease-in-out;
	-o-transition:all .25s ease-in-out;
	transition:all .25s ease-in-out
}
.slide--reset
{
	-webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0)
}
.slide--up
{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%)
}
.icon:before
{
	font-size:.9em;
	display:inline-block;
	height:1em;
	width:1em;
	line-height:1
}
.icon--up:before
{
	content:"\25B2"
}
.sharing__button
{
	font-size:.8em
}
	@media screen and (min-width:40em)
{
.sharing__button
{
	font-size:.9em
}

}
	@media screen and (min-width:50em)
{
.sharing__button
{
	font-size:1em
}

}
.question-set
{
	border:0;
	padding:0;
	margin-bottom:1.5em
}
.question-set__title
{
	display:block;
	margin-bottom:.75em
}
.question-set__input
{
	width:100%;
	padding:.25em;
	border:1px solid #a4afba
}
.question-set__input:focus
{
	outline:0;
	box-shadow:#4ecdc4 0 0 3px 0
}
.question-set__label
{
	display:inline-block;
	margin-bottom:.25em
}
.question-set__label--block
{
	display:block
}
.question-set__label input[type=radio]
{
	margin-right:.75em
}
	:not(pre)>code
{
	background-color:#d0d5db;
	padding:.3em .2em .1em;
	border-radius:.25em
}
	p+h2,p+h3
{
	margin-top:1.5em
}
.complimentary
{
	display:none
}
	@media screen and (min-width:40em)
{
.complimentary
{
	display:inline
}

}
.subdued
{
	opacity:.6;
	text-shadow:none
}
	a.subdued:hover
{
	color:#fff
}
.downloads
{
	margin-bottom:1.5em
}
.animated
{
	-webkit-animation-duration:3s;
	-moz-animation-duration:3s;
	-o-animation-duration:3s;
	animation-duration:3s;
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both
}
	@-webkit-keyframes slideDown
{
	0%
{
	-webkit-transform:translateY(-100%)
}
	100%
{
	-webkit-transform:translateY(0)
}

}
	@-moz-keyframes slideDown
{
	0%
{
	-moz-transform:translateY(-100%)
}
	100%
{
	-moz-transform:translateY(0)
}

}
	@-o-keyframes slideDown
{
	0%
{
	-o-transform:translateY(-100%)
}
	100%
{
	-o-transform:translateY(0)
}

}
	@keyframes slideDown
{
	0%
{
	transform:translateY(-100%)
}
	100%
{
	transform:translateY(0)
}

}
.animated.slideDown
{
	-webkit-animation-name:slideDown;
	-moz-animation-name:slideDown;
	-o-animation-name:slideDown;
	animation-name:slideDown
}
	@-webkit-keyframes slideUp
{
	0%
{
	-webkit-transform:translateY(0)
}
	100%
{
	-webkit-transform:translateY(-100%)
}

}
	@-moz-keyframes slideUp
{
	0%
{
	-moz-transform:translateY(0)
}
	100%
{
	-moz-transform:translateY(-100%)
}

}
	@-o-keyframes slideUp
{
	0%
{
	-o-transform:translateY(0)
}
	100%
{
	-o-transform:translateY(-100%)
}

}
	@keyframes slideUp
{
	0%
{
	transform:translateY(0)
}
	100%
{
	transform:translateY(-100%)
}

}
.animated.slideUp
{
	/*-webkit-animation-name:slideUp;
	-moz-animation-name:slideUp;
	-o-animation-name:slideUp;
	animation-name:slideUp*/
}
	@-webkit-keyframes swingInX
{
	0%
{
	-webkit-transform:perspective(400px) rotateX(-90deg)
}
	100%
{
	-webkit-transform:perspective(400px) rotateX(0deg)
}

}
	@-moz-keyframes swingInX
{
	0%
{
	-moz-transform:perspective(400px) rotateX(-90deg)
}
	100%
{
	-moz-transform:perspective(400px) rotateX(0deg)
}

}
	@-o-keyframes swingInX
{
	0%
{
	-o-transform:perspective(400px) rotateX(-90deg)
}
	100%
{
	-o-transform:perspective(400px) rotateX(0deg)
}

}
	@keyframes swingInX
{
	0%
{
	transform:perspective(400px) rotateX(-90deg)
}
	100%
{
	transform:perspective(400px) rotateX(0deg)
}

}
.animated.swingInX
{
	-webkit-transform-origin:top;
	-moz-transform-origin:top;
	-ie-transform-origin:top;
	-o-transform-origin:top;
	transform-origin:top;
	-webkit-backface-visibility:visible!important;
	-webkit-animation-name:swingInX;
	-moz-backface-visibility:visible!important;
	-moz-animation-name:swingInX;
	-o-backface-visibility:visible!important;
	-o-animation-name:swingInX;
	backface-visibility:visible!important;
	animation-name:swingInX
}
	@-webkit-keyframes swingOutX
{
	0%
{
	-webkit-transform:perspective(400px) rotateX(0deg)
}
	100%
{
	-webkit-transform:perspective(400px) rotateX(-90deg)
}

}
	@-moz-keyframes swingOutX
{
	0%
{
	-moz-transform:perspective(400px) rotateX(0deg)
}
	100%
{
	-moz-transform:perspective(400px) rotateX(-90deg)
}

}
	@-o-keyframes swingOutX
{
	0%
{
	-o-transform:perspective(400px) rotateX(0deg)
}
	100%
{
	-o-transform:perspective(400px) rotateX(-90deg)
}

}
	@keyframes swingOutX
{
	0%
{
	transform:perspective(400px) rotateX(0deg)
}
	100%
{
	transform:perspective(400px) rotateX(-90deg)
}

}
.animated.swingOutX
{
	-webkit-transform-origin:top;
	-webkit-animation-name:swingOutX;
	-webkit-backface-visibility:visible!important;
	-moz-animation-name:swingOutX;
	-moz-backface-visibility:visible!important;
	-o-animation-name:swingOutX;
	-o-backface-visibility:visible!important;
	animation-name:swingOutX;
	backface-visibility:visible!important
}
	@-webkit-keyframes flipInX
{
	0%
{
	-webkit-transform:perspective(400px) rotateX(90deg);
	opacity:0
}
	100%
{
	-webkit-transform:perspective(400px) rotateX(0deg);
	opacity:1
}

}
	@-moz-keyframes flipInX
{
	0%
{
	-moz-transform:perspective(400px) rotateX(90deg);
	opacity:0
}
	100%
{
	-moz-transform:perspective(400px) rotateX(0deg);
	opacity:1
}

}
	@-o-keyframes flipInX
{
	0%
{
	-o-transform:perspective(400px) rotateX(90deg);
	opacity:0
}
	100%
{
	-o-transform:perspective(400px) rotateX(0deg);
	opacity:1
}

}
	@keyframes flipInX
{
	0%
{
	transform:perspective(400px) rotateX(90deg);
	opacity:0
}
	100%
{
	transform:perspective(400px) rotateX(0deg);
	opacity:1
}

}
.animated.flipInX
{
	-webkit-backface-visibility:visible!important;
	-webkit-animation-name:flipInX;
	-moz-backface-visibility:visible!important;
	-moz-animation-name:flipInX;
	-o-backface-visibility:visible!important;
	-o-animation-name:flipInX;
	backface-visibility:visible!important;
	animation-name:flipInX
}
	@-webkit-keyframes flipOutX
{
	0%
{
	-webkit-transform:perspective(400px) rotateX(0deg);
	opacity:1
}
	100%
{
	-webkit-transform:perspective(400px) rotateX(90deg);
	opacity:0
}

}
	@-moz-keyframes flipOutX
{
	0%
{
	-moz-transform:perspective(400px) rotateX(0deg);
	opacity:1
}
	100%
{
	-moz-transform:perspective(400px) rotateX(90deg);
	opacity:0
}

}
	@-o-keyframes flipOutX
{
	0%
{
	-o-transform:perspective(400px) rotateX(0deg);
	opacity:1
}
	100%
{
	-o-transform:perspective(400px) rotateX(90deg);
	opacity:0
}

}
	@keyframes flipOutX
{
	0%
{
	transform:perspective(400px) rotateX(0deg);
	opacity:1
}
	100%
{
	transform:perspective(400px) rotateX(90deg);
	opacity:0
}

}
.animated.flipOutX
{
	-webkit-animation-name:flipOutX;
	-webkit-backface-visibility:visible!important;
	-moz-animation-name:flipOutX;
	-moz-backface-visibility:visible!important;
	-o-animation-name:flipOutX;
	-o-backface-visibility:visible!important;
	animation-name:flipOutX;
	backface-visibility:visible!important
}
	@-webkit-keyframes bounceInDown
{
	0%
{
	opacity:0;
	-webkit-transform:translateY(-200px)
}
	60%
{
	opacity:1;
	-webkit-transform:translateY(30px)
}
	80%
{
	-webkit-transform:translateY(-10px)
}
	100%
{
	-webkit-transform:translateY(0)
}

}
	@-moz-keyframes bounceInDown
{
	0%
{
	opacity:0;
	-moz-transform:translateY(-200px)
}
	60%
{
	opacity:1;
	-moz-transform:translateY(30px)
}
	80%
{
	-moz-transform:translateY(-10px)
}
	100%
{
	-moz-transform:translateY(0)
}

}
	@-o-keyframes bounceInDown
{
	0%
{
	opacity:0;
	-o-transform:translateY(-200px)
}
	60%
{
	opacity:1;
	-o-transform:translateY(30px)
}
	80%
{
	-o-transform:translateY(-10px)
}
	100%
{
	-o-transform:translateY(0)
}

}
	@keyframes bounceInDown
{
	0%
{
	opacity:0;
	transform:translateY(-200px)
}
	60%
{
	opacity:1;
	transform:translateY(30px)
}
	80%
{
	transform:translateY(-10px)
}
	100%
{
	transform:translateY(0)
}

}
.animated.bounceInDown
{
	-webkit-animation-name:bounceInDown;
	-moz-animation-name:bounceInDown;
	-o-animation-name:bounceInDown;
	animation-name:bounceInDown
}
	@-webkit-keyframes bounceOutUp
{
	0%
{
	-webkit-transform:translateY(0)
}
	30%
{
	opacity:1;
	-webkit-transform:translateY(20px)
}
	100%
{
	opacity:0;
	-webkit-transform:translateY(-200px)
}

}
	@-moz-keyframes bounceOutUp
{
	0%
{
	-moz-transform:translateY(0)
}
	30%
{
	opacity:1;
	-moz-transform:translateY(20px)
}
	100%
{
	opacity:0;
	-moz-transform:translateY(-200px)
}

}
	@-o-keyframes bounceOutUp
{
	0%
{
	-o-transform:translateY(0)
}
	30%
{
	opacity:1;
	-o-transform:translateY(20px)
}
	100%
{
	opacity:0;
	-o-transform:translateY(-200px)
}

}
	@keyframes bounceOutUp
{
	0%
{
	transform:translateY(0)
}
	30%
{
	opacity:1;
	transform:translateY(20px)
}
	100%
{
	opacity:0;
	transform:translateY(-200px)
}

}
.animated.bounceOutUp
{
	-webkit-animation-name:bounceOutUp;
	-moz-animation-name:bounceOutUp;
	-o-animation-name:bounceOutUp;
	animation-name:bounceOutUp
}
