/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}
@font-face {
    font-family: Aleo-Regular;
    src: url(font/Aleo-Regular.otf);
}
@font-face {
    font-family: Aleo-Light;
    src: url(font/Aleo-Light.otf);
}
@font-face {
    font-family: Aleo-Bold;
    src: url(font/Aleo-Bold.otf);
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  color: #555555;
  font-family: Aleo-Bold;
}
a{
    font-family: 'Open Sans', sans-serif;
}
.headers{
    padding-bottom: 17px;
    border-bottom: 1px solid #a3bed1;
}
.headers img{
    margin:0px auto;
}
.headers h3{
    margin-top: 10px;
}
.headers p{
    font-size:14px;
    font-family: Aleo-Light;
}
/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */



/*
 * Main column and sidebar layout
 */
section.main .container{
    margin-top:20px;
}
section.blog{
    margin-top:120px;
}
.blog-main {
  font-size: 18px;
  line-height: 1.5;
}
.blog-main h1{
    color:#777777;   
}
.blog-main a{
    padding-top: 15px;
    font-size:24px;
}
/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
  min-height: 340px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #555555;
  font-family: Aleo-Light;
  font-size: 20px;
}
.cont{
    font-family: Aleo-Light;
}

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
section.main{
    margin-bottom:70px;
}
.za{
    border-bottom:1px solid #a3bed1;
    padding-bottom: 27px;
}
@media screen and (max-width: 769px){
    .row{
        padding:0px !important;
        margin:0px !important;
    }
}
.social a{
}
.fb{
    background: url('img/icons.png') no-repeat;
    height:27px;
    width:27px;
}