/*
 * Globals
 */
/*

Theme Name: Blog Edu2a
Author: EDUTAINMENT.com.pl
Description: EDUTAINMENT.com.pl, 
Version: 1.0
Tags: Black, EDUTAINMENT.com.pl

 */
#text-3{
margin-top:18px !important;
margin-bottom:27px !important;

}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}
@font-face {
    font-family: Aleo-Regular;
    src: url(font/Aleo-Regular.otf);
}
@font-face {
    font-family: Aleo-Light;
    src: url(font/Aleo-Light.otf);
}
@font-face {
    font-family: Aleo-Bold;
    src: url(font/Aleo-Bold.otf);
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  color: #555555;
  font-family: Aleo-Bold;
}
a{
    font-family: 'Open Sans', sans-serif;
}
.headers{
	
	min-height: 305px;
}
.headers img{
    margin:0px auto;
}
 h1.widget-title{
    margin-top: 10px;
	font-size: 24px;
}
.headers p{
    font-size:14px;
    font-family: Aleo-Light;
}
/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */

.navigation2{
	display:inline-block;
	margin-bottom:20px;
}

/*
 * Main column and sidebar layout
 */
section.main .container{
    margin-top:20px;
}
section.blog{
   padding-top: 20px;
}
.blog-main {
  font-size: 18px;
  line-height: 1.5;
}
.blog-main h1{
    color:#777777;   
}
.blog-main a{
    padding-top: 15px;
    font-size:24px;
}
.img-main{
	padding-top:30px;
}
/* Sidebar modules for boxing content */
.sidebar-module {
}
.sidebar-module-inset {
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  min-height: 340px;
  border-bottom:1px solid #a3bed1;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 10px;
  margin-top: 20px;
  color: #555555;
  font-family: Aleo-Light;
  font-size: 20px;
}
.cont{
    font-family: Aleo-Light;
	min-height:200px;
}

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
section.main{
    margin-bottom:70px;
}
.za{
    border-bottom:1px solid #a3bed1;
	min-height: 308px;
}
.row_modify{
	margin-right: -15px;
	margin-left: -15px;
}
@media screen and (max-width: 769px){
    .row{
        padding:0px !important;
        margin:0px !important;
    }
}
.social a{
}
.fb{
    background: url('img/icons.png') no-repeat;
    height:27px;
    width:27px;
}
li.pagination-li{
	margin-left:10px;
	border-radius:50%;
	height:15px;
	width:15px;
	border-radius:50%;
	background: black;
	cursor:pointer;
	line-height:block;
}
li.pagination-li a{
	display:block;
}	
li.active{
	margin-left:10px;
	height:15px;
	width:15px;
	border-radius:50%;
	border:3px solid #185c8c;
	background: white;
	float:left!important;
}
.active a{
	display:block;
}
.widget_text{
	padding: 0px 20px 0px 20px;
}

@media screen and (max-width: 769px){
a.line-height{
	
}
}
@media screen and (min-width: 769px){
a.line-height{
	line-height: 67px;
}
}

.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes fadeIn {
  0% {opacity: 0;}  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity: 0;}  
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
  0% {opacity: 0;}  
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}  
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }
  
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }
  
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.specialfadein{
    -webkit-animation: fadein 5s; /* Safari and Chrome */
       -moz-animation: fadein 5s; /* Firefox */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera */
            animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}?

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.content_widget{
	border-bottom:1px solid #a3bed1;
	padding-bottom:27px;
}
.special{
	margin-top:30px;
}
@media screen and (min-width: 769px)
{
.no_rwd_padding{
	padding:0px;
}
.width-84{
	width:84%;
}
}
@media screen and (max-width: 769px)
{
.width-84{
	width:100%;
}

}
.info{
	margin-bottom:0px;
	height:70px;
}
.headerBlog{
	margin-top: 40px;
	border-top: 1px solid #a3bed1;
	height: auto;
	width: 100%;
	display: inline-block;
}
.special_right{
	position:relative;
	left:5px;
	bottom:18px;
}
.special_left{
	position:relative;
	right:5px;
}
.divider-20{
	height:20px;
}
img.other{
	display:block;
	float:left;
}
.special_left{
	position:relative;
	bottom:18px;
}